<div ng-controller="AccordionDemoCtrl" class="AccordionDemoCtrl">
	<ng-form name="myform">
<!-- 
	<pre>{{myform.shippingForm["zip"] | json}}</pre> -->
		<h5 ng-show="!account">Don't like filling out forms? <a ng-click="status.shipping.isOpen = false; status.login.isOpen = true" style="cursor:pointer;">Log in</a> to pre-fill this form.</h5>

		<h5 ng-show="account">Welcome back, {{loginName}}.</h5>

		<uib-accordion close-others="oneAtATime">

			<div ng-if="status.login.isOpen" style="margin-bottom: 5px;">
				<uib-accordion-group is-open="status.login.isOpen" tab-index=0 template-url="views/includes/accordian_group.tpl.html">
					<uib-accordion-heading>Log In</uib-accordion-heading>
					<form name="login" novalidate>
						<div class="form-group">
							<label for="username">Email address</label>
							<input focus type="email" class="form-control" id="username" ng-model="foo.username" placeholder="Email" name="username" ng-required="status.login.isOpen">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" ng-model="foo.password" placeholder="Password" name="password" ng-required="status.login.isOpen">
						</div>
						 <button type="submit" class="btn btn-primary" ng-disabled="myform.login.$invalid" ng-click="submitLogin()">Submit</button>
						 <button type="submit" class="btn btn-default" ng-click="foo.username =''; foo.password =''">Clear</button>
					</form>
				</uib-accordion-group>
			</div>
			<p ng-show="!account" ><em >Don't have an account? Just fill out the form and we will create it for you!</em></p>
			<uib-accordion-group is-open="status.shipping.isOpen" tab-index=0 template-url="views/includes/accordian_group.tpl.html">
				<form name="shippingForm" novalidate>
					<uib-accordion-heading><span ng-show="myform.shippingForm.$invalid">1.</span><span ng-show="myform.shippingForm.$valid" class="glyphicon glyphicon-ok-circle ok" aria-hidden="true"></span> Shipping Address<span ng-show="address.shipping" class="pull-right address"><span ng-bind-html="address.shipping" style="padding-right: 10px"></span><span class="edit text-info">&nbsp;edit</span></span></uib-accordion-heading>

					<div class="row">
						<div class="col-sm-6">
						<label style="margin-bottom:3px;">Gift Option</label>
						 	<div class="checkbox" style="margin-top:0;">
								<label>
									<input type="checkbox" ng-model="isGift" tabIndex="1"> This is a gift&nbsp;<span class="glyphicon glyphicon-gift gift" aria-hidden="true"></span>
								</label>
							</div>
						</div>
					</div>

					<div class="row" ng-if="isGift">
						<div class="col-sm-12">
							<div class="form-group">
						 		<textarea focus tabIndex="1" class="form-control" name="gift-text" style="width:100%" id="gift-text" placeholder="gift text here . . ." tabIndex="1"></textarea>
						 	</div>
						</div>
					</div>

					<div class="row" ng-if="account">
						<div class="col-sm-12">
							<div class="form-group" ng-class="{'has-error': hasError('state'), 'has-success': hasSuccess('state')}">
								<label for="state">Choose a different address</label>
								<select class="form-control" ng-change="repopulate(alternative)" ng-options="option.name for option in altAddresses" ng-model="alternative" name="selectAltShipping" id="selectAltShipping" tabIndex="1">
								</select>
								<p style="margin-top:5px"><a ng-click="addNewAddress()"><span class="glyphicon glyphicon-plus-sign"></span> Add new shipping address</a></p>
							</div>
						</div>
					</div>

					<address type="shipping" whichform="shippingForm" tabstart=1 ng-show="isEmpty(shipping)"></address>
				</form>
			</uib-accordion-group>

			<uib-accordion-group is-open="status.billing.isOpen" tab-index=12 template-url="views/includes/accordian_group.tpl.html">
				<form name="billingForm" novalidate>
					<uib-accordion-heading><span ng-show="myform.billingForm.$invalid">2.</span><span ng-show="myform.billingForm.$valid" class="glyphicon glyphicon-ok-circle ok" aria-hidden="true"></span> Billing Address<span ng-show="address.billing" class="pull-right address"><span ng-bind-html="address.billing" style="padding-right: 10px"></span><span class="edit text-info">&nbsp;edit</span></span></uib-accordion-heading>
					<div class="row">
						<div class="col-sm-6">
						 	<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="foo.sameAsShipping" tabIndex="15"> Same as shipping
								</label>
							</div>
						</div>
					</div>
					<address type="foo.sameAsShipping ? shipping : billing" whichform="billingForm" tabstart=17></address>
				</form>
			</uib-accordion-group>

			<uib-accordion-group is-open="status.creditcard.isOpen" tab-index=30 template-url="views/includes/accordian_group.tpl.html">
				<uib-accordion-heading><span ng-show="myform.creditcard.$invalid">3.</span><span ng-show="myform.creditcard.$valid" class="glyphicon glyphicon-ok-circle ok" aria-hidden="true"></span> Credit Card<span ng-show="creditcarddisplay" class="pull-right address"><span ng-bind-html="creditcarddisplay" style="padding-right: 10px"></span><span class="edit text-info">&nbsp;edit</span></span></uib-accordion-heading>

				<div class="row">
					<form name="creditcard" novalidate>

						<iframe frameborder="0" name="vantiv-payframe" src="views/includes/creditcardiframe.html" width="100%" height="280px" id="iframe1" scrolling="no" style="overflow:visible;" marginheight="0" frameborder="0" ng-class="{'error': missingInformation}"></iframe>
					</form>
				</div>
<!-- 	 	<pre>{{myform.confirm["birthday-day"] | json}}</pre> -->
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<form name="confirm" class="form-inline confirm" novalidate>
							<label>Enter your birthday</label>
							<ng-include src="'views/includes/birthdaypicker.tpl.html'"></ng-include>
							<p> I confirm that I am at least 21 years of age and understand that an adult, also 21 years of age or older, must be available to sign for this shipment. I further confirm that I have read and understand the terms of service. And, I understand that sales tax varies by state, so taxes will be calculated at checkout.</p>

							<div class="alert alert-danger" role="alert" ng-show="isUnderAge">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="sr-only">Error:</span>
								You must be at least 21 years old to order.
							</div>
						</form>
					</div>
				</div>
			</uib-accordion-group>

		</uib-accordion>
	</ng-form>

<!-- 	<pre>{{myform | json}}</pre> -->

	<button class="btn btn-primary" ng-disabled="myform.$invalid" ng-click="submit()">Submit Order</button>

	<span class="alert alert-danger" role="alert" ng-show="missingInformation">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		There are issues with your credit card information.
	</span>

	<span class="alert alert-success" role="alert" ng-show="success">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		You have successfully submitted the form.
	</span>

	<div class="panel panel-default" style="margin-top:20px" ng-show="success && !account">
		<div class="panel-heading">
			<h4 class="panel-title">
				<span>Create Account</span>
			</h4>
		</div>
		<div class="panel-collapse">
			<div class="panel-body">
				<div class="row" style="padding-bottom:5px">
					<div class="col-sm-12">
						If you ever plan to order with us again, you should create an account.
					</div>
				</div>
				<form class="form-horizontal" name="accountForm">
					<!-- <div class="row"> -->
						<div class="col-sm-12">
							<div class="form-group">
								<label class="col-sm-2 control-label" style="padding-left:0">Username:</label>
								<div class="col-sm-10">
									<p class="form-control-static">{{shipping.email}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword">Password:</label>
								<input type="password" ng-model="password" class="form-control" id="inputPassword" required="true" placeholder="minimum length 8 characters" ng-minlength="8" name="password" style="width:90%;display:inline-block;margin-right:5px">
								<span class="text-success" ng-show="accountForm.password.$valid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
							</div>

							<div class="form-group">
								<label for="confirmPassword">Confirm Password:</label>
								<input type="password" ng-model="confirmPassword" class="form-control" id="confirmPassword" required="true" placeholder="minimum length 8 characters" ng-minlength="8" name="confirmPassword" style="width:90%;display:inline-block;margin-right:5px" ng-pattern="password">
								<span class="text-success" ng-show="accountForm.confirmPassword.$valid"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
							</div>
						<!-- </div> -->
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label>
								<button ng-disabled="accountForm.$invalid" class="btn btn-primary" ng-click="showAccountSuccess = true">Create Account</button>
							</label>
							<span class="alert alert-success" role="alert" ng-show="showAccountSuccess">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								You have successfully made an account.
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>