<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="exampleInputEmail1">First Name</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Street Address Line 1</label>
			<input type="test" class="form-control" id="exampleInputPassword1" placeholder="123 Main St.">
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">City</label>
			<input type="test" class="form-control" id="exampleInputPassword1" placeholder="e.g, Anytown">
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Zip Code</label>
			<input type="text" class="form-control" id="exampleInputPassword1" placeholder="e.g., 12345">
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Phone</label>
			<input type="text" class="form-control" id="exampleInputPassword1" placeholder="XXX-XXX-XXXX">
		</div>

	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="exampleInputEmail1">Last Name</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Street Address Line 2</label>
			<input type="text" class="form-control" id="exampleInputPassword1" placeholder="e.g, Apt. 123">
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">State</label>
			<ng-include src="'views/includes/states.tpl.html'"></ng-include>
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Email</label>
			<input type="text" class="form-control" id="exampleInputPassword1" placeholder="e.g., user@provider.com">
		</div>
	</div>
</div>