<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<!-- <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<style>
		.container-fluid {
			padding-right: 10px;
			padding-left: 10px;
		}

		/*.panel {
			margin-bottom: 0;
		}*/

		</style>
	</head>
	<body>
		<div class="container-fluid" id="z">

				<div class="panel panel-default credit-card">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-8"><p>We use SSL encryption to protect your personal information, including your credit card information. <strong>* all fields required</strong></p></div>
							<div class="col-xs-4">
								<img src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-2/credit_card_logos_37.gif" width="100" height="75" border="0" />
							</div>
						</div>
						<div class="row">
							<form name="xxx" id="xxx">
								<div class="col-xs-6">
									<div class="form-group" ng-class="{'has-error': hasError('creditcard','creditcardnumber'), 'has-success': hasSuccess('creditcard', 'creditcardnumber')}">
										<label for="creditcardnumber">Number</label>
										<input type="text" ng-model="creditcard.number" name="creditcardnumber" class="form-control" id="creditcardnumber" placeholder="" ng-required=true tabindex="31">
									</div>
									<div class="form-group">
										<label for="creditcardexpirationmonth">Expiration Month</label>
										<select class="form-control" name="month" id="expirationmonth" onchange="" tabindex="33">
										    <option value="">Month</option>
										    <option value="01">January</option>
										    <option value="02">February</option>
										    <option value="03">March</option>
										    <option value="04">April</option>
										    <option value="05">May</option>
										    <option value="06">June</option>
										    <option value="07">July</option>
										    <option value="08">August</option>
										    <option value="09">September</option>
										    <option value="10">October</option>
										    <option value="11">November</option>
										    <option value="12">December</option>
										</select>
									</div>
								</div>
								<div class="col-xs-6">
								  	<div class="form-group" ng-class="{'has-error': hasError('creditcard','securitycode'), 'has-success': hasSuccess('creditcard', 'securitycode')}">
										<label for="securitycode">Security Code</label>
										<input type="text" ng-model="creditcard.security" name="securitycode" class="form-control" id="securitycode" placeholder="" ng-required=true tabindex="32">
									</div>
									<div class="form-group">
										<label for="creditcardexpirationyear">Expiration Year</label>
										<select class="form-control" name="year" id="expirationyear" onchange="" tabindex="34">
											<option value="">Year</option>
										    <option value="2023">2023</option>
										    <option value="2022">2022</option>
										    <option value="2021">2021</option>
										    <option value="2020">2020</option>
										    <option value="2019">2019</option>
										    <option value="2018">2018</option>
										    <option value="2017">2017</option>
										    <option value="2016">2016</option>
										</select>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			
		</div>
	</body>
</html>