body {
	margin: 20px;
	background-color: white;

	.holder {
		background-color: white;
		padding: 10px;
	}

	.AccordionDemoCtrl {

	}
	a, a:hover {
		text-decoration: none;
	}

	.ok {
		color: #3c763d;
	}

	iframe.error {
		border: 2px solid red;
	}

	.text-danger.error {
		color: red;
		font-size: smaller;
	}

	.has-error .form-control {
		border: 2px solid red;
	}
}